.main{
  padding-top: 65px;
  padding-bottom: 100px;
  padding-right: 63%;
  background: top right no-repeat url('img/mainImg.svg');
  background-size: 51%;
 }
.main__title{
  margin: 0 0 30px 0;
  font: 800 52px/70px pt_serifbold, arial, helvetica, sans-serif;
  }

.main__subtitle{
  margin: 0 0 27px 0;
  font: 400 18px/21px roboto, arial, helvetica, sans-serif;
  width: 340px;
}

.main__button{
  display: inline-block;
  font: 14px/25px roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 8px 25px 12px 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
  }
.main__button:hover{
    opacity: .5s;
  }
.main__title-text_hightlight{
  background: #ECF3FF;
}
.wrapper {
  margin: auto;
  width: 83%;
  padding-left: 33px;
}
.logo,.menu{
  display: inline-block;
}
.logo{
  position: relative;
  padding: 21px 0;
  padding-left: 33px;
  font: bold 19px/31px pt_serifbold, arial, helvetica, sans-serif;
  width: 190px;
  height: 35px;
  }
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
  margin-right: 40px;
   }
.menu{
  display: flex;
  white-space: nowrap;
  align-items: center;
  }
.menu__item{
  position: relative;
  padding: 0 9px;
  font: 550 14px/20px roboto, arial, helvetica, sanc-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child{
  margin-right: 0;
}
.menu__item_active::after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity.5s;
}
.menu__item:hover{
  opacity: .5;
}
.menu__item:hover:after,menu__item_active{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 1;
  width: 100%
}

.logo__circle{
  width: 23px;
  height: 23px;
  left: 0;
  top:50%;
  position: absolute;
  transform: translateY(-50%);
  border-radius:50%;
  opacity: .7;

}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue{
  position: absolute;
  background: #0056EC;
}
#menu__toggle {
  opacity: 0;
}
.menu__box{
  position: absolute;
  visibility: hidden;
}

@media(min-width: 1920px){
.wrapper {
    width: 82%;
    padding-left: 33px;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 135px;
    margin-right: 5px;
  }
.main {
    padding-top: 65px;
    padding-bottom: 300px;
    padding-right: 63%;
    background-size: 50%;
    margin-right: 34px;
}
.logo {
    position: relative;
    margin-right: 53%;
    padding: 30px 0;
    padding-left: 45px;
    font: bold 24px/32px pt_serifbold, arial, helvetica, sans-serif;
}
  .logo__circle {
      width: 28px;
      height: 28px;
      margin-left: 4px;
}
.menu__item {
    padding: 0 13px;
    font: 550 18px/22px roboto, arial, helvetica, sanc-serif;
    margin-top: 7px;
  }
  .menu__item:last-child {
    margin-right: 22px;
}
  .main__title {
    margin: 10px 0 34px 0;
    font: normal 66px/88px pt_serifbold, arial, helvetica, sans-serif;
}
.main__subtitle {
    margin: 0 0 43px 0;
    font: 400 22px/26px roboto, arial, helvetica, sans-serif;
    width: 455px;
}
.main__button {
    display: inline-block;
    font: 18px/22px Roboto, arial, helvetica, sans-serif;
    padding: 18px 37px 18px 21px;
  }
}

@media(max-width: 1367px){
  .wrapper {
    width: 69%;
    margin: 0 173px;
  }
  .header {
      margin-bottom: 89px;
      margin-right: 15px;
    }
  .logo {
    margin-right: 388px;
    padding: 31px 0;
    padding-left: 49px;
    font: bold 24px/32px pt_serifbold, arial, helvetica, sans-serif;
}
.logo__circle {
    width: 29px;
    height: 29px;
    margin-left: 5px;
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__item {
    padding: 32px 13px;
    font: 500 14px/20px roboto, arial, helvetica, sanc-serif;
    margin-top: 5px;
}

  .main {
      padding-top: 19px;
      padding-bottom: 500px;
      padding-right: 63%;
      background-size: 55%;
  }
  .main__title {
    margin: 0 0 39px 4px;
    font: normal 50px/66px pt_serifbold, arial, helvetica, sans-serif;
    width: 434px;
}
.main__subtitle {
    margin: 0 0 41px 4px;
    font: 500 18px/21px roboto, arial, helvetica, sans-serif;
    width: 348px;
}
.main__button {
    font: 14px/18px roboto, arial, helvetica, sans-serif;
    padding: 13px 27px 12px 22px;
    white-space: nowrap;
}
}

@media(max-width:1040px){
  .wrapper {
    width: 93%;
    padding-left: 1px;
    margin: 0 35px;
}
.header {
    margin-bottom: 87px;
    margin-right: 40px;
}
.logo {
    padding: 32px 0;
    padding-left: 46px;
    font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
    margin-right: 44%;
}
.menu__item {
    padding: 0px 13px;
    font: 500 14px/20px roboto, arial, helvetica, sanc-serif;
    margin-top: 2px;
}
.main {
    padding-top: 24px;
    padding-bottom: 100px;
    background-size: 55%;
    margin-right: 0;
  }
  .main__title {
    margin: -5px 0 41px 2px;
    font: normal 50px/64px pt_serifbold, arial, helvetica, sans-serif;
    width: 434px;
}
.main__subtitle {
    margin: 0 0 41px 3px;
    font: 500 18px/22px roboto, arial, helvetica, sans-serif;
    width: 347px;
}
.main__button {
    font: 14px/18px roboto, arial, helvetica, sans-serif;
    padding: 14px 27px 13px 19px;
    white-space: nowrap;
}
}
@media (max-width: 960px){
  .logo{
    margin-right: 40%;
  }
}
@media(max-width: 855px){
  .logo {
    padding: 31px 0;
    padding-left: 45px;
    font: bold 21px/31px pt_serifbold, arial, helvetica, sans-serif;
    margin-right: 40%;
}
.logo__circle {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.menu__item {
    padding: 0px 7px;
}
.main__title {
    margin: 0 0 34px 2px;
    font: normal 44px/58px pt_serifbold, arial, helvetica, sans-serif;
    width: 434px;
}
.main__subtitle {
    margin: 0px 0 36px 3px;
    font: 500 16px/21px roboto, arial, helvetica, sans-serif;
    width: 347px;
}
}
@media (max-width: 765px) {
  .header{
    margin-bottom: 57px;
  }
  .logo {
    padding: 26px 0;
    padding-left: 45px;
    font: bold 20px/30px pt_serifbold, arial, helvetica, sans-serif;
    margin-right: 40%;
}
.menu__item {
    padding: 0px 7px;
    font: 500 12px/20px roboto, arial, helvetica, sanc-serif;
}

  .main {
      padding-top: 15px;
      padding-bottom: 100px;
      background-size: 56%;
      margin-right: 0;
    }
    .main__title {
      margin: 0 0 37px 2px;
      font: normal 40px/55px pt_serifbold, arial, helvetica, sans-serif;
      width: 434px;
  }
  .main__subtitle {
      margin: 0 0 30px 3px;
      font: 500 15px/19px roboto, arial, helvetica, sans-serif;
      width: 328px;
  }
  }
@media (max-width: 670px){
  .menu{
    display: none;
  }
  .header{
    margin: -4px 28px 9px -21px;
  }
  .logo__circle {
      width: 30px;
      height: 30px;
      margin-left: 10px;
  }
  .main{
    text-align: center;
    padding: 74% 0 0;
    background-size: 76%;
    background-position: top center;
  }
  .main__title {
    margin: auto;
    font: bold 36px/42px pt_serif, arial, helvetica, sans-serif;
    width: 260px;
    padding-bottom: 30px;
}
  .main__subtitle{
    margin: auto;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
    width: 241px;
    padding-bottom: 20px;
  }

  .main__button{
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    padding: 13px 29px 13px 14px;
  }
  .menu__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 29px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0056EC;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 375px;
  height: 100%;
  margin: 0;
  padding: 170px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font: 500 30px/34px Roboto, sans-serif;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.logo{
    text-indent: 100%;
    overflow: hidden;
}
}
@media (max-width: 376px) {
  .menu{
    display: none;
  }
  .header{
        margin: -14px 10px 5px 0;
  }
  .logo__circle {
      width: 30px;
      height: 30px;
      margin-left: 2px;
  }
  .main{
    text-align: center;
    padding: 74% 0 0;
    background-size: 84%;
    background-position: top center;
  }
  .main__title {
    margin: auto;
    font: bold 32.5px/39px pt_serif, arial, helvetica, sans-serif;
    width: 286px;
    padding: 16px 0 34px 0px;
}
.main__subtitle {
  margin: auto;
  font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
  width: 244px;
  padding-bottom: 27px;
}
  .main__button{
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    padding: 13px 29px 13px 14px;
  }
  .menu__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 29px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0056EC;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 375px;
  height: 100%;
  margin: 0;
  padding: 170px 0;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font: 500 30px/34px Roboto, sans-serif;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.logo{
    text-indent: 100%;
    overflow: hidden;
}
}
