
.main-content__title{
  font-family: Roboto;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.logo,.menu{
  display: inline-block;
}
.logo{
  position: relative;
  margin-right: 63%;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item{
  position:relative;
  padding: 0 13px;
  font: 500 18px/21px Roboto, arial, helvetica, sanc-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item:last-child{
  margin-right: 0;
}
.menu__item_active::after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity.5s;
}
.menu__item:hover{
  opacity: .5;
}
.menu__item:hover:after, menu__item_active{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 1;
  width: 100%
}

.logo__circle{
  width: 28px;
  height: 28px;
  left: 0;
  top:50%;
  position: absolute;
  transform: translateY(-50%);
  border-radius:50%;
  opacity: .7;

}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue{
  position: absolute;
  background: #0056EC;
}
